<style>
    * {
box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

</style>


<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />


	<div class="instructions well">
        <p>
            Your task is to choose which face looks more <b>trustworthy</b>. Your choice should be the same with most people.
        </p>

        <p>

            For example, <b>most people</b> think the <b>left face</b> looks more trustworthy. So you should choose the <b>left</b> face.
        </p>

        <p>
            In the actual task, press <b><font color="red">A</font></b> to choose the <b><font color="red">left</font></b> face.
        </p>


        <div class="row">
          <div class="column">
              <img src="https://raw.githubusercontent.com/amandasongmm/impression_personality/master/static/amt_trustworthy/069891.jpg" alt="Low" style="width:100%">
          </div>
          <div class="column">
              <img src="https://raw.githubusercontent.com/amandasongmm/impression_personality/master/static/amt_trustworthy/012584.jpg" alt="High" style="width:100%">
          </div>
        </div>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
