<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            You will go through 120 pairs of faces.
            Sometimes, you will see the same pair of faces (the left-right order might be flipped). You should try to make consistent choice.

            We will compare your response with other people so try to make sense of what most people will choose.
            Your HIT will be accepted if more than 80% of your choices align with the majority choices and
            more than 70% of your own choices are consistent when seeing the same pair.

        </p>

        <p>Press 'A' to choose the left face, press 'B' to choose the right face.
        </p>

        <p>You can enter the next page only by pressing 'A' or 'B'.
        </p>

        <p>
            Watch every face carefully and have fun :)
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin task <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
