<style>
    * {
box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

</style>


<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Here is the last example, <b>most people</b> think the <b>left face</b> looks more responsible. So you should choose the <b>left</b> face.
        </p>

        <p>
            Press <b><font color="red">A</font></b> to choose the <b><font color="red">left</font></b> face.
        </p>

        <div class="row">
          <div class="column">
              <img src="https://raw.githubusercontent.com/amandasongmm/impression_personality/master/static/amt_responsible/164055.jpg" alt="High" style="width:100%">

          </div>
          <div class="column">
              <img src="https://raw.githubusercontent.com/amandasongmm/impression_personality/master/static/amt_responsible/123211.jpg" alt="Low" style="width:100%">

          </div>
        </div>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
