<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            You will see around 100 pairs of faces.
        </p>

        <p>
            Try to make sense of what most people think and we will compare your response with others.
        </p>

        <p>
            You may see the same pair multiple times (the left-right order might be flipped). Watch carefully and make consistent choices.
        </p>

        <p>
            Your HIT will be accepted if more than <b>80%</b> of your choices align with the majority vote <b>and</b>
            more than <b>70% </b>of your own choices are consistent when seeing the same pair.
        </p>

        <h3>Press <b><font color="red">A</font></b> to choose the <b><font color="red">left</font></b> face, press <b><font color="blue">B</font></b> to choose the <b><font color="blue">right</font></b> face.
        </h3>

        <p>Don't press until both faces are loaded.
        </p>

        <p>
            Have fun :)
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin task <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
