<style>
    * {
box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

</style>

<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Here is another example, <b>most people</b> think the <b>right face</b> looks more trustworthy. So you should choose the <b>right</b> face.
        </p>

        <p>
            Press <b><font color="blue">B</font></b> to choose the <b><font color="blue">right</font></b> face.
        </p>

        <div class="row">
          <div class="column">
              <img src="https://raw.githubusercontent.com/amandasongmm/impression_personality/master/static/amt_trustworthy/087394_2.0_AE.png" alt="Low" style="width:100%">

          </div>
          <div class="column">
              <img src="https://raw.githubusercontent.com/amandasongmm/impression_personality/master/static/amt_trustworthy/087394_8.0_AE.png" alt="High" style="width:100%">


          </div>
        </div>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
